/*
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Quattrocento', serif;
  font-family: 'Sriracha', cursive;
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
}

header {
  background-image: url("../img/image-fruits.webp");
  height: 320px;
  background-size: cover;
  border-top: 8px solid #57bb6b;
}

header h1 {
  margin-bottom: 1px;
  margin-top: 20px;
}

.title {
  background-color: #ffffffdd;
  margin: 28px 28px;
  padding: 2px 0;
  font-family: "Quattrocento", serif;
  font-size: 20px;
  text-align: center;
}

.title p {
  margin-top: 1px;
  color: #57bb6b;
}

.title img {
  width: 220px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #57bb6b;
  margin: 0px 0px 10px;
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  border-radius: 10px;
}

.button-white {
  background-color: #ffffff;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  color: #57bb6b;
  border-radius: 10px;
}

main {
  padding-top: 50px;
}

h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 24px;
  text-align: center;
}

main p {
  font-family: "Quattrocento", serif;
  font-size: 16px;
  text-align: center;
  margin: 0 50px;
}

.container-fruit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 50px;
  padding-bottom: 50px;
}

.container-fruit img {
  height: 29px;
}

.products {
  background-color: #57bb6b;
  padding: 0;
}

.products h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  padding-top: 45px;
  margin-bottom: 55px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

article {
  height: 240px;
  width: 320px;
  margin: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.product-banana {
  background-color: #fff8d7;
}

article h2 {
  font-family: "Sriracha", cursive;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin-left: 35px;
  margin-bottom: 0;
}

article p {
  font-family: "Quattrocento", serif;
  font-size: 16px;
}

article a {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: underline;
  font-size: 15px;
}

article p {
  text-align: left;
  margin-left: 35px;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 35px;
  height: 100px;
}

article img {
  width: 80px;
}

.product-kiwi {
  background-color: #c4f2ad;
}

.product-cafe {
  background-color: #d3c6b2;
}

.product-fraise {
  background-color: #f7a4b4;
  margin-bottom: 50px;
}

footer h2 {
  color: #57bb6b;
  margin-top: 35px;
  margin-bottom: 30px;
}

footer p {
  font-family: "Maven Pro", sans-serif;
  font-size: 13px;
  color: #57bb6b;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer .container-fruit {
  padding-bottom: 20px;
}

.title-kiwi {
  background-color: #ffffffdd;
  margin: 30px 30px;
  padding: 15px 0;
  font-family: "Quattrocento", serif;
  font-size: 20px;
  text-align: center;
}

.title-kiwi img {
  width: 220px;
}

.title-kiwi p {
  margin-top: 1px;
  color: #57bb6b;
  font-size: 16px;
}

.header-kiwi {
  height: 210px;
}

.sirop-kiwi {
  background-color: #c4f2ad;
  margin-bottom: 80px;
}

.sirop-kiwi h2 {
  font-family: "Sriracha", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1, 5;
}

.sirop-kiwi p {
  color: #57bb6b;
}

.circle-kiwi {
  width: 100px;
  background-color: #ffffff;
  padding: 35px;
  border-radius: 100%;
  margin-left: 110px;
  margin-top: 46px;
  margin-bottom: 70px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.history-kiwi {
  background-color: #57bb6b;
}

.history-kiwi h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 22px;
  text-align: left;
  color: #ffffff;
  margin-left: 70px;
  padding-top: 60px;
}

.history-kiwi p {
  font-family: "Quattrocento", serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  color: #ffffff;
  margin-bottom: 30px;
}

.history-kiwi img {
  margin-left: 70px;
  margin-right: 70px;
}

.history-kiwi h3 {
  font-family: "Quattrocento", serif;
  font-size: 18px;
  color: #ffffff;
  margin: 20px 70px;
}

.history-kiwi ul {
  font-family: "Quattrocento", serif;
  margin: 0 75px;
  padding-bottom: 60px;
  color: #ffffff;
}

main h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
  align-items: flex-end;
}

.product-second {
  margin: 0;
  height: 150px;
  width: 150px;
}

.product-second h2 {
  font-size: 20px;
  margin-left: 15px;
  line-height: 1;
}

.container-element .more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
  height: 75px;
}

.container-element {
  border-radius: 15px;
  margin-bottom: 45px;
}

.container-element a {
  font-family: "Maven Pro", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
}

.container-element img {
  width: 55px;
}

.container-element .product-cafe .more {
  height: 90px;
}

.sirop-kiwi .button {
  margin-bottom: 45px;
}
