/*
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Quattrocento', serif;
  font-family: 'Sriracha', cursive;
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
}

header {
  background-image: url('../img/image-fruits.webp');
  height: 320px;
  background-size: cover;
  border-top: 8px solid #57bb6b;
}

header h1 {
  margin-bottom: 1px;
  margin-top: 20px;
}

.title {
  background-color: #ffffffdd;
  margin: 28px 28px; 
  padding: 2px 0;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
  text-align: center;
}

.title p {
  margin-top: 1px;
  color: #57bb6b;
}

.title img {
  width: 220px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.button {
  background-color: #57bb6b;
  margin: 0px 0px 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  color: #ffffff;
  border-radius: 10px;
}

.button-white {
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  color: #57bb6b;
  border-radius: 10px;
}

main {
  padding: 50px;
}

main h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  text-align: center;
}

main p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  text-align: center;
}


